[report]
exclude_lines =
	pragma: no cover
	if __name__ == __main__:
[run]
omit =
	covidrover/__main__.py
	covidrover/update_plots.py
	covidrover/setup.py
	covidrover/__init__.py
	covidrover*/__init__.py
